<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CatalogTestSuite" verbose="1" >
    <parameter name="startPage" value="https://www.onliner.by/"></parameter>
    <parameter name="chromedriver" value="src/test/resources/chromedriver.exe"></parameter>
    <test name="TVCatalogTest">
        <classes>
            <class name="org.test.SeleniumTest"/>
            <parameter name="preconditionPrice" value="1000.0"></parameter>
            <parameter name="preconditionResolution" value="1920x1080"></parameter>
            <parameter name="preconditionTile" value="Samsung"></parameter>
            <parameter name="preconditionMinInches" value="40"></parameter>
            <parameter name="preconditionMaxInches" value="50"></parameter>
        </classes>
    </test>
</suite>
